{% extends 'admin/base.html.twig' %}

{% block title %}Réseau "{{social.name}}" {{ title_base }}{% endblock %}
{% block page_title %}Modifier le réseau{% endblock %}
{% block page_pretitle %}Réseaux{% endblock %}

{% form_theme form 'admin/social/_picture.html.twig' %}

{% block page_content %}
<div class="container mb-5">
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

    {{ form_end(form) }}
</div>
{% endblock %}
