{% extends 'admin/base.html.twig' %}

{% block title %}Administration du réseau "{{social.name}}"{% endblock %}

{% form_theme form 'admin/social/_picture.html.twig' %}

{% block body %}
<div class="container mb-5">
    <h1 class="my-5">Modification du réseau : <strong>{{social.name}}</strong></h1>
    
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

    {{ form_end(form) }}
</div>
{% endblock %}
