{% extends 'admin/base.html.twig' %}

{% block title %}Réseaux {{ title_base }}{% endblock %}
{% block page_title %}Gestion des Réseaux{% endblock %}
{% block page_pretitle %}Réseaux{% endblock %}
{% block page_actions %}
    <a href="{{ path('admin_social_new') }}" class="btn btn-success">Créer un nouveau Réseau</a>
{% endblock %}

{% block page_content %}
<div class="container mb-5">
    <table class="table table-vcenter table-nowrap">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Lien</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for social in socials %}
                <tr>
                    <td>{{social.id}}</td>
                    <td>{{social.name}}</td>
                    <td><a href="{{social.link}}" target="_blank">{{social.link}}</a></td>
                    <td class="table-actions">
                        <a href="{{ path('admin_social_edit', {id: social.id}) }}" class="btn btn-primary"><i class="fas fa-edit fa-sm"></i></a>
                        <a href="{{ path('admin_social_delete', {id: social.id}) }}" class="btn btn-warning"><i class="fas fa-trash fa-sm"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
