{{ form_row(form.title) }}
{{ form_row(form.slug) }}
{{ form_row(form.content) }}
{{ form_row(form.featureImage) }}
<div class="row">
    <div class="col">
        {{ form_row(form.primaryTag) }}
    </div>
    <div class="col">
        {{ form_row(form.tags) }}
    </div>
</div>
<div class="row">
    <div class="col">
        {{ form_row(form.published) }}
    </div>
    <div class="col">
        {{ form_row(form.featured) }}
    </div>
</div>
{{ form_row(form.uuid) }}