{% extends 'admin/base.html.twig' %}

{% block title %}Articles {{ title_base }}{% endblock %}
{% block page_title %}Gestion des Articles{% endblock %}
{% block page_pretitle %}Articles{% endblock %}
{% block page_actions %}
    <a href="{{ path('admin_post_new') }}" class="btn btn-success">Créer un nouvel Article</a>
{% endblock %}

{% block page_content %}
<div class="container mb-5">
    <table class="table table-vcenter table-nowrap">
        <thead>
            <tr>
                <th>ID</th>
                <th>Titre</th>
                <th>Statut</th>
                <th>Tags</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for post in posts %}
                <tr>
                    <td>{{post.id}}</td>
                    <td>{{post.title}}</td>
                    <td>
                        {% if post.published == null %}
                            <span class="badge">Brouillon</span>
                        {% elseif post.published > date() %}
                            <span class="badge bg-azure">Planifié</span>
                        {% else %}
                            <span class="badge bg-green">Publié</span>
                        {% endif %}
                    </td>
                    <td>
                        {% for tag in post.tags %}
                            <span class="badge bg-primary">{{tag.name}}</span>
                        {% endfor %}
                    </td>
                    <td class="table-actions">
                        <a href="{{ path('admin_post_edit', {id: post.id}) }}" class="btn btn-primary"><i class="fas fa-edit fa-sm"></i></a>
                        <a href="{{ path('admin_post_delete', {id: post.id}) }}" class="btn btn-warning"><i class="fas fa-trash fa-sm"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
