{% extends '@Tabler/layout-horizontal.html.twig' %}

{% set title_base = '- Hippolyte Thomas' %}

{% block title %}Dashboard {{ title_base }}{% endblock %}
{% block page_title %}Dashboard{% endblock %}
{% block page_pretitle %}{% endblock %}
{% block page_actions %}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/css/slimselect.min.css">
    <link rel="stylesheet" href="/css/admin.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/slimselect.min.js"></script>
{% endblock %}

{% block navbar_notifications %}{% endblock %}

{% block footer %}
    <footer id="{% block footer_id %}{% endblock %}" class="footer footer-transparent d-print-none">
        <div class="{{ ''|tabler_container }}">
            {% include 'admin/partials/footer.html.twig' %}
        </div>
    </footer>
{% endblock %}
