{% extends '@Tabler/layout-horizontal.html.twig' %}

{% set title_base = '- Hippolyte Thomas' %}

{% block title %}Dashboard {{ title_base }}{% endblock %}
{% block page_title %}Dashboard{% endblock %}
{% block page_pretitle %}{% endblock %}
{% block page_actions %}{% endblock %}
{% block page_subtitle %}{% endblock %}

{% block head %}
    {{ parent() }}
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block navbar_notifications %}{% endblock %}

{% block page_content_before %}
    {% for label, messages in app.flashes %}
        <div class="container flashes">
            <div class="alert alert-dismissible alert-{{ label }}" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                {% for message in messages %}
                    <h4 class="alert-title">{{ message|raw }}</h4>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block footer %}
    <footer id="{% block footer_id %}{% endblock %}" class="footer footer-transparent d-print-none">
        <div class="{{ ''|tabler_container }}">
            {% include 'admin/partials/footer.html.twig' %}
        </div>
    </footer>
{% endblock %}
