{% extends 'admin/base.html.twig' %}

{% block title %}Accueil {{ title_base }}{% endblock %}
{% block page_title %}Accueil{% endblock %}
{% block page_pretitle %}Dashboard{% endblock %}

{% block page_content %}
<div class="container">
    <div class="row row-deck">
        <div class="col-4">
            <div class="card card-stacked">
                <div class="card-body">
                    <h4 class="card-title">Projets</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Les derniers projets :</h5>
                    <p class="card-text">
                        <ul>
                            {% for project in projects %}
                            <li class="mt-1"><a href="{{ path('admin_project', {id: project.id}) }}" class="card-link text-decoration-underline">{{ project.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
                <div class="ribbon bg-cyan">
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>
        
        <div class="col-4">
            <div class="card card-stacked">
                <div class="card-body">
                    <h4 class="card-title">Réseaux</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Les derniers réseaux :</h5>
                    <p class="card-text">
                        <ul>
                            {% for social in socials %}
                            <li class="mt-1"><a href="{{ path('admin_social_edit', {id: social.id}) }}" class="card-link text-decoration-underline">{{ social.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
                <div class="ribbon bg-lime">
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>
        
        <div class="col-4">
            <div class="card card-stacked">
                <div class="card-body">
                    <h4 class="card-title">Technologies</h4>
                    <h5 class="card-subtitle mb-2 text-muted">Les dernières technologies :</h5>
                    <p class="card-text">
                        <ul>
                            {% for technology in technologies %}
                            <li class="mt-1"><a href="{{ path('admin_technology_edit', {id: technology.id}) }}" class="card-link text-decoration-underline">{{ technology.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
                <div class="ribbon bg-teal">
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
