{% extends 'admin/base.html.twig' %}

{% block title %}Accueil de l'administration{% endblock %}

{% block body %}
<div class="container">
    <h1 class="my-5">Accueil</h1>
    
    <div class="row">
        <div class="col-4">
            <div class="card card-home">
                <div class="card-body">
                    <h4 class="card-title">Projets</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Les derniers projets :</h6>
                    <p class="card-text">
                        <ul>
                            {% for project in projects %}
                            <li><a href="{{ path('admin_project', {id: project.id}) }}" class="card-link">{{ project.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-4">
            <div class="card card-home">
                <div class="card-body">
                    <h4 class="card-title">Réseaux</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Les derniers réseaux :</h6>
                    <p class="card-text">
                        <ul>
                            {% for social in socials %}
                            <li><a href="{{ path('admin_social_edit', {id: social.id}) }}" class="card-link">{{ social.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
        </div>
        
        <div class="col-4">
            <div class="card card-home">
                <div class="card-body">
                    <h4 class="card-title">Technologies</h4>
                    <h6 class="card-subtitle mb-2 text-muted">Les dernières technologies :</h6>
                    <p class="card-text">
                        <ul>
                            {% for technology in technologies %}
                            <li><a href="{{ path('admin_technology_edit', {id: technology.id}) }}" class="card-link">{{ technology.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
