
{#  START - BLOCK PICTURE  #}
{% block _project_pictures_widget %}
    {{ form_widget(form) }}

    <input type="hidden" id="widget-pictures-counter" value="0" />

    <div class="form-group">
        <button type="button" id="add-image" class="btn btn-dark">Ajouter une image</button>
    </div>
{% endblock %}

{% block _project_pictures_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _project_pictures_entry_widget %}
    <div class="form-group mt-2 mb-2" id="block_pictures_{{id}}">
        <div class="row">
            <div class="col-11">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.url) }}
                        {{ form_errors(form.url) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.caption) }}
                        {{ form_errors(form.caption) }}
                    </div>
                </div>
            </div>
            <div class="col-1">
                <button type="button" data-action="delete" data-target="#block_pictures_{{id}}" class="btn btn-danger"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
{% endblock %}
{#  END - BLOCK PICTURE  #}

{#  START - BLOCK TECHNOLOGY  #}
{% block _project_technologies_widget %}
    {{ form_widget(form) }}

    <input type="hidden" id="widget-technologies-counter" value="0" />

    <div class="form-group">
        <button type="button" id="add-technology" class="btn btn-dark">Ajouter une technologie</button>
    </div>
{% endblock %}

{% block _project_technologies_entry_row %}
    {{ form_widget(form) }}
{% endblock %}

{% block _project_technologies_entry_widget %}
    <div class="form-group mt-2 mb-2" id="block_technology_{{id}}">
        <div class="row">
            <div class="col-11">
                <div class="row">
                    <div class="col">
                        {{ form_widget(form.name) }}
                        {{ form_errors(form.name) }}
                    </div>
                    <div class="col">
                        {{ form_widget(form.slug) }}
                        {{ form_errors(form.slug) }}
                    </div>
                </div>
            </div>
            <div class="col-1">
                <button type="button" data-action="delete" data-target="#block_technology_{{id}}" class="btn btn-danger"><i class="fas fa-trash"></i></button>
            </div>
        </div>
    </div>
{% endblock %}
{#  END - BLOCK TECHNOLOGY  #}
