{% extends 'admin/base.html.twig' %}

{% block title %}Projet "{{project.name}}" {{ title_base }}{% endblock %}
{% block page_title %}Modifier le projet{% endblock %}
{% block page_pretitle %}Projets{% endblock %}

{% form_theme form with [
    'admin/project/_collection.html.twig'
] %}

{% block page_content %}
<div class="container mb-5">
    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>

    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/admin/project.js"></script>
{% endblock %}
