{% extends 'admin/base.html.twig' %}

{% block title %}Projets {{ title_base }}{% endblock %}
{% block page_title %}Gestion des Projets{% endblock %}
{% block page_pretitle %}Projets{% endblock %}
{% block page_actions %}
    <a href="{{ path('admin_project_new') }}" class="btn btn-success">Créer un nouveau Projet</a>
{% endblock %}

{% block page_content %}
<div class="container mb-5">
    <table class="table table-vcenter table-nowrap">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Statut</th>
                <th>Slug</th>
                <th>Technologies</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for project in projects %}
                <tr>
                    <td>{{project.id}}</td>
                    <td>{{project.name}}</td>
                    <td>
                        {% if project.published == null or project.published > date() %}
                            <span class="badge">Brouillon</span>
                        {% else %}
                            <span class="badge bg-green">Publié</span>
                        {% endif %}
                    </td>
                    <td>{{project.slug}}</td>
                    <td>
                        {% for techno in project.technologies %}
                            <span class="badge bg-primary">{{techno.name}}</span>
                        {% endfor %}
                    </td>
                    <td class="table-actions">
                        <a href="{{ path('admin_project', {id: project.id}) }}" class="btn btn-primary"><i class="fas fa-edit fa-sm"></i></a>
                        <a href="{{ path('admin_project_delete', {id: project.id}) }}" class="btn btn-warning"><i class="fas fa-trash fa-sm"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
